<div class="jumbotron text-center">
    <h1 class="dispaly-3">Welcome</h1>
    <p class="lead">jot down ideas for your new youtube video</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add video Idea</a>
</div>